



code {
  font-family: Didot, "Didot LT STD", "Hoefler Text";
}

button.ui.button {
  background-color: orange;
  color: #670808d0;
  text-align: center;
}

#RouterNavLink {
  color: #FFD791;
  border-style: solid;
  border-width: thin;
}

.content {
  color: #FFD791
}

.center {
  text-align: center;
  font-family: Didot, "Didot LT STD", "Hoefler Text" bold;
  font-size: larger;
  background-color:#670808D0;
  border-radius: 100px;
  box-shadow: 1px 1px 10px 3px orange;
}
#taskbutton {
  text-align: center
}

.newform {
  text-align: center;
  font-size: 10px;
  color: white;
}

.showcard {
  text-align: center;
  padding: 50px;
  margin-top: 100px;
  background-color: #FFD791;
  color: brown;
  border-style: solid;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  
}

.editpage {
  text-align: center;
}

.field {
  font-size: 24px;
  color: #413620
}

div.ui.items.center{
  padding: 50px;
  margin-bottom: 50px;
  width: 350px;
  margin-left: auto;
  margin-right: auto
}


.newtaskname {
  color: white;
  padding: 20px;
  width: 35px;
  margin-left: auto;
  margin-right: auto
}

label {
  font-size: 150px;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: Didot, "Didot LT STD", "Hoefler Text";
  text-align: center;
  color: white;
}

.field{
  color: brown
}


div.ui.divided.items.showcard{
  width: 350px;
  margin-left: auto;
  margin-right: auto
}

.signintext {
  color: white;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  font-size: 50px;
  font-family: Didot, serif;
  text-shadow: 3px 3px black
}


.logincontainer{
  background-color:  linear-gradient(#e66465, #9198e5);
  width: 600px;
  height: 300px;
  border: 10px solid orange;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  text-align: center;
  box-shadow: 1px 1px 1000px 20px orange;
  border-radius: 200px

}

.loginbutton{
  background-color: orange;
  border-radius: 200px;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  font-family: Didot, "Didot LT STD", "Hoefler Text";
  font-size: 18px;
}

.showcard{
  margin-top: 400px;
  box-shadow: 1px 1px 1000px 20px orange;
  border-radius: 100px;
  background-color: #670808D0
}

.newcontainer {
  background-color:  linear-gradient(#e66465, #9198e5);
  width: 600px;
  height: 400px;
  border: 10px solid orange;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 1px 1px 1000px 20px orange;
  border-radius: 200px
}

textarea {
  width: 400px;
  height: 80px;
  border-radius: 200px;
  text-align: center
}

.titlebox {
  width: 400px;
  height: 40px;
  border-radius: 200px;
  text-align: center
}

.addbutton {
  background-color: orange;
  border-radius: 200px;
  margin-left: 20px;
  width: 100px;
  height: 50px;
  font-size: 18px;
  font-family: Didot, "Didot LT STD", "Hoefler Text";
}

.titletext {
  font-size: 50px;
  font-family: Didot, "Didot LT STD", "Hoefler Text";
  color: orange
}

.editbutton{
  background-color: orange;
  border-radius: 200px;
  margin-left: 20px;
  width: 125px;
  height: 50px;
  font-size: 18px;
  font-family: Didot, "Didot LT STD", "Hoefler Text";
}

.loginbox {
  height: 25px;
  width: 200px
}







